@import '../../vars';

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @extend %formpage-title;
    color: $color1;
    font-size: 40px;
  }
}
