@import '../../../vars';

.general {
  @extend %settings-inner;

  &__title {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 13px;
    border-bottom: 1px solid $color8;
    margin-bottom: 20px;
  }
}
