@import '../../../../../vars';

.block {
  &__box {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__line {
    height: 1px;
    background-color: $color2;
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
    width: 200px;
  }
}
