@import '../../../vars';

.sidebar {
  min-width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: $color9;
  padding: $chat-padding;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

  &__title {
    display: flex;
    align-items: center;
  }

  &__titleicon {
    margin-right: 10px;
  }
}
