@import '../../../vars';

.sidebar {
  min-width: 250px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--color9);
  padding: $chat-padding;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

  &__title {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color1);
    margin-bottom: 24px;
  }

  &__titleicon {
    margin-right: 10px;
  }

  &__counter {
    margin-left: 10px;
  }

  &__searchBox {
    margin-bottom: 20px;
  }

  &__searchInput {
    padding: 10px 30px 10px 34px;
    margin-bottom: 0;
    background-color: var(--color6);
  }

  &__clearBtn {
    top: 13px;
  }

  &__searchIcon {
    top: 10px;
  }

  &__listItem {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__userLink {
    font-size: 20px;
    color: #000;
    transition: color 0.1s;

    &:hover {
      color: var(--color10);
    }
  }

  &__me {
    font-weight: 500;
  }
}
