@import '../../../vars';

.todoTitle {
  margin-bottom: 30px;

  &__title {
    font-family: $ff1;
    text-align: center;
    font-size: 36px;
    color: var(--color41);
  }
}

@media (max-width: 350px) {
  .todoTitle {
    margin-bottom: 20px;
  }

  .todoTitle__title {
    font-size: 33px;
  }
}
