@import '../../../vars';

.settingsNav {
  width: 228px; //!
  height: 82px; //!
  margin-left: auto;
  background-color: $color5;
  border-radius: 5px;
  position: sticky;
  top: 40px;
}

.item_border_first {
  border-top-right-radius: 5px;
}

.item_border_last {
  border-bottom-right-radius: 5px;
}
