@import '../../../vars';

.btn {
  @extend %form-btn;
  background-color: $color9;
  margin-right: 30px;
  padding-left: 10px !important;
  padding-right: 10px !important;

  &:hover {
    transform: scale(1.1);
  }
}

.btn__disabled {
  cursor: default;
}
