@import '../../../../vars';

.nameAndBio {
  &__box,
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    margin-right: 2px;
  }

  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  &__box {
    margin-bottom: 10px;
  }

  &__online {
    font-size: 18px;
    color: $color10;
  }
}
