@import '../vars';

.form {
  @extend %settings-elem;

  &__label {
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--color46);
  }

  &__control {
    @extend %form-control;
  }

  &__textarea {
    resize: none;
    height: 150px;
  }

  &__input {
    @extend %form-input;
    width: 354px;
    padding: 10px;
    color: var(--color16);
    background-color: var(--color48);

    &::placeholder {
      color: var(--color52);
    }
  }

  &__input_inverted {
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__btn {
    @extend %form-btn;
    width: auto;
    font-size: 20px;
    background-color: var(--color49);
    color: var(--color16);
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 10px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__preloader {
    width: 40px;
    height: 40px;
  }

  &__success {
    color: var(--color11);
    font-weight: 500;
  }

  &__error {
    margin-bottom: 20px;
    height: 1px; //!
  }
}
