@import '../vars';

.form {
  @extend %settings-elem;

  &__label {
    margin-bottom: 5px;
    font-size: 20px;
    color: $color7;
  }

  &__control {
    @extend %form-control;
  }

  &__textarea {
    resize: none;
    height: 150px;
  }

  &__input {
    @extend %form-input;
    width: 354px;
    padding: 10px;
    color: $color7;
    background-color: $color6;
  }

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__btn {
    @extend %form-btn;
    width: 150px;
    font-size: 20px;
    background-color: $color9;
    margin-right: 30px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__preloader {
    width: 40px;
    height: 40px;
  }

  &__success {
    color: $color11;
    font-weight: 500;
  }

  &__error {
    margin-bottom: 20px;
  }
}
