@import '../../../vars';

.loginForm {
  width: 400px;
  margin-bottom: 30px;

  &__formControl {
    @extend %form-control;
  }

  &__formControl_last {
    padding-bottom: 10px;
  }

  &__label {
    @extend %form-label;
  }

  &__formInput {
    @extend %form-input;
  }

  &__link {
    display: inline-block;
    // color: $color8;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
  }

  &__errorMsg {
    color: var(--color1);
  }

  &__btn {
    @extend %form-btn;
    background-color: var(--color8);

    &:hover {
      background-color: var(--color6);
    }
  }
}
