@import '../../../vars.scss';

.form {
  width: 400px;

  &__formControl {
    @extend %form-control;
  }

  &__label {
    @extend %form-label;
  }

  &__formInput {
    @extend %form-input;
  }

  &__errorMsg {
    color: $color1;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    @extend %form-btn;
    background-color: $color9;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
