@import '../../../vars.scss';

.form {
  width: 430px;
  padding: 0 15px;

  &__formControl {
    @extend %form-control;
  }

  &__label {
    @extend %form-label;
  }

  &__formInput {
    @extend %form-input;
  }

  &__errorMsg {
    color: var(--color1);
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    @extend %form-btn;
    background-color: var(--color9);
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 440px) {
  .form {
    width: 100%;
  }
}