@import '../../../vars.scss';

.form {
  width: 400px;
  margin-bottom: 30px;

  &__formControl {
    @extend %form-control;
  }

  &__label {
    @extend %form-label;
  }

  &__formInput {
    @extend %form-input;
  }

  &__errorMsg {
    color: $color1;
  }

  &__btn {
    @extend %form-btn;
    width: 100%;
    font-size: 24px;
    background-color: $color9;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__success {
    color: $color11;
    font-weight: 500;
    font-size: 24px;
  }
}
