@import '../../../vars';

.task {
  padding: 13px;
  border-radius: 8px;
  background-color: $color8;
  margin-bottom: 14px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
