@import '../../vars';

.myPage {
  @extend %main-inner;

  &__inner {
    @extend %inner-page--inner;
    @extend %userpage-inner;
  }

  &__avatarBox {
    @extend %profile-box;
    margin-bottom: 20px;
  }

  &__left {
    margin-right: 60px;
  }

  &__right {
    width: 100%;
  }

  &__todoFilters {
    margin-bottom: 15px;
  }
}

.profileInfo__todos {
  background-color: transparent;
  padding: 0;
}
