@import '../../../../../vars';

.change {
  &__label {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    width: 100%;
  }

  &__input {
    display: none;
  }

  &__upload {
    @extend %btn-small;
    width: 100%;
    background-color: var(--color24);
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color25);
    }
  }

  &__upload_small {
    @extend %btn-small;
    height: 30px !important;
    display: none;
    width: 100%;
    background-color: var(--color24);
    cursor: pointer;
    align-items: center;
  }

  &__icon {
    margin-right: 5px;
  }

  &__spinner {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 6px;
    left: 220px;
    z-index: 100;
  }
}

@media (max-width: 736px) {
  .change {
    &__label {
      margin: 10px auto;
    }

    &__upload {
      display: none;
    }

    &__upload_small {
      display: flex;
    }

    &__icon {
      margin-right: 0;
    }
  }
}
