@import '../../../../../vars';

.change {
  &__label {
    display: inline-block;
    margin: 20px auto;
    width: 100%;
  }

  &__input {
    display: none;
  }

  &__upload {
    @extend %btn-small;
    width: 100%;
    background-color: var(--color24);
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color25);
    }
  }

  &__icon {
    margin-right: 5px;
  }
}
