@import '../../../../../vars';

.change {
  &__label {
    display: inline-block;
    margin: 20px auto;
    width: 100%;
  }

  &__input {
    display: none;
  }

  &__upload {
    @extend %btn-small;
    width: 100%;
    background-color: var(--color9);
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color5);
    }
  }

  &__icon {
    margin-right: 5px;
  }

  &__btn {
    @extend %btn-small;
    width: 45%;
    margin-right: 20px;
    background-color: var(--color9);
    height: 36px;

    &:hover {
      background-color: var(--color5);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
