@import '../../vars.scss';

.header {
  grid-area: h;
  background-color: $color1;

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    height: 100%;
    max-width: 1000px;
  }

  &__register {
    color: $color4;
    font-size: 21px;
    font-family: $ff2;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      transform: scale(1.1);
    }
  }
}
