@import '../../../../vars';

.todoInput__outer {
  padding-bottom: 50px;
}

.todoInput {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__input {
    @extend %form-input;
    width: 84%;
    height: 100%;
    margin-bottom: 0;
    padding: 15px 15px;
    font-size: 20px;
  }

  &__btn {
    @extend %btn-small;
    width: 90px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: $color6;

    &:hover {
      background-color: $color8;
    }
  }

  &__btn_disabled {
    cursor: default;
  }

  &__error {
    font-size: 18px;
  }
}
