@import '../../../../vars';

.form {
  &__label {
    margin-bottom: 5px;
    font-size: 20px;
    color: $color7;
  }

  &__control {
    @extend %form-control;
  }

  &__input {
    @extend %form-input;
    width: 354px;
    padding: 10px;
    color: $color10;
    background-color: $color6;
  }

  &__box {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    @extend %form-btn;
    width: 150px;
    font-size: 20px;
    background-color: $color9;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__preloader {
    width: 40px;
    height: 40px;
  }
}
