@import '../../../vars';

.quickLogin {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__listItem {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @extend %btn-small;
    background-color: $color1;
    color: $color5;

    &:hover {
      background-color: $color2;
    }
  }
}
