@import '../../../vars';

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__box {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    font-size: 20px;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.close {
  transition: all 0.1s;

  &:hover {
    color: $color12;
  }
}

.active {
  font-weight: 700;
}
