@import '../../../vars';

.form {
  width: 400px;
  margin-bottom: 30px;

  &__control {
    @extend %form-control;
  }

  &__label {
    @extend %form-label;
    color: $color1;
  }

  &__input {
    @extend %form-input;
  }

  &__errorMsg {
    color: $color1;
  }

  &__btn {
    @extend %form-btn;

    &:hover {
      background-color: $color6;
    }
  }
}
