@import '../../../vars';

.goBack {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.3s;
  color: $color3;

  &:hover {
    text-decoration: none;
    transform: scale(1.1);
  }
}
