@import '../../../vars';

.controls {
  &__btn {
    @extend %btn-small;
    background-color: $color2;
    width: 100%;
    margin-bottom: 12px;
    color: $color6;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $color1;
    }
  }
}
