@import '../../vars';

.page {
  @extend %main-inner;

  &__inner {
    @extend %inner-page--inner;
    @extend %userpage-inner;
    display: block;
  }

  &__preloader {
    width: 60px;
    height: 60px;
  }
}

.active {
  font-weight: 700;
}

@media (max-width: 800px) {
  .page__inner {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .page {
    padding: 32px 0 32px 0;
  }
}

@media (max-width: 450px) {
  .page__search {
    margin-bottom: 20px;
  }
}
