@import './vars.scss';

.App__container {
  grid-area: gc;
  display: grid;
  grid-template-areas: 's m';
  grid-template-columns: 2.8fr 9.2fr;
  width: $container;
  padding: 0 !important;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'h h'
    'gc gc';
  grid-template-rows: 10% 1fr;
}

@media (max-width: 1250px) {
  .App__container {
    width: 100%;
  }
}
