$container: 1230px;

$ff1: 'Silkscreen', cursive;
$ff2: 'Asap Condensed', sans-serif;

// Colors
// $color1: #100f0f;
// $color2: #0f3d3e;
// $color3: #e2dcc8;
// $color4: #f1f1f1;

// $color1: #222831;
// $color2: #393e46;
// $color3: #00adb5;
// $color4: #eeeeee;

$color1: #000000;
$color2: #14213d;
$color3: #d38405;
$color4: #e5e5e5;
$color5: #ffffff;
