@import '../../../vars.scss';

.registerForm {
  width: 400px;

  &__formControl {
    @extend %form-control;
  }

  &__label {
    @extend %form-label;
  }

  &__formInput {
    @extend %form-input;
  }

  &__errorMsg {
    color: $color1;
  }

  &__btn {
    @extend %form-btn;

    &:hover {
      background-color: $color6;
    }
  }
}
