@import '../../../vars.scss';

.registerForm {
  width: 25%;

  &__formControl {
    @extend %form-control;
  }

  &__formInput {
    @extend %form-input;
  }

  &__errorMsg {
    color: $color1;
  }

  &__btn {
    @extend %form-btn;

    &:hover {
      background-color: #d7e4d7;
    }
  }
}


