@import '../../vars';

.page {
  @extend %page;
  // overflow: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 60px 0;

  &__title {
    @extend %formpage-title;
  }
}

.logo {
  margin-bottom: 30px;

  &__text {
    color: $color3;
    font-size: 34px;
  }
}

.preloader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 33px;
  margin: 0 auto;
}

.textError {
  position: relative;
  font-weight: 700;
  font-size: 18px;
}
